body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 100vh;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.header{
    
    padding: 20px ;
    background-color: darkgray;
    text-align: center;
}
.head_logo{
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    display: block;
    margin: 20px 0;
}

.sidebar{
    width: 20%;
    display: inline-block;
    border-right: 2px solid black;
    
    background-color: rgb(197, 197, 247); 
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul h4{
    margin: 0;
    padding: 20px;
    text-transform: uppercase;
    font-size: 20px;
}
nav ul li a{
    padding: 8px 20px;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    
}
nav ul li a:hover{
    background-color: rgb(142, 142, 230); 
}
.main{
    display: flex;
    min-height: 80vh;
    padding-bottom: 1.5rem;
}
.main_display{
    display: inline-block;
    width: 80%;
    padding: 30px;
}

.card_board{
    display: flex;
    flex-wrap: wrap;
    

}
.name_card {
    width: 170px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 20px;
    text-align: center;
}
.name_card img {
    width: 100%;
    object-fit: contain;
}
.name{
    font-size: 18px;
    font-weight: bold;
}





.footer{
    background: yellowgreen;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}
.footer_int{
    display: flex;
    justify-content: space-between;
    
}
.footer_int a{
    display: inline-block;
    text-decoration: none;
    color: rgb(44, 43, 43);
}
.footer_int p{
    margin: 0;
}